<head>
  <title>TEAM</title>
  
</head>


<body>
  </br></br>
<center>
<h1>LA TEAM</h1></br></br>
<h5>Codé, agencé, modélisé et tutti quanti par Paul Graton (tout seul parce que le gars est rentré de weekend à 16h le lundi, youpi)</h5>
</center>
</body>