<html>
  <head>

    <title>Welcome</title>   

  </head>

  <body>

  </div>

  <h1>BIENVENUE <%= @first_name %>! Ici c’est notre super site de potins, il est chouette, non ?</h1>
 
  </body>

</html>