

<html>
  <head>

    <title>Toutes les villes</title>   

  </head>

  <body>

  </br></br>
    <center><h1>Voici où tu peux le/la trouver (pour lui faire un bisou ou lui casser la gueule)</h1></br>
    <h5>The place to be :</h5>
    <p><%= @city.name %></p></br>
    <h5>Par la poste :</h5>
    <p><%= @city.zip_code %></p></br>
    </center>

  </body>

</html>